body {
    padding-bottom: 60px;
}

.footer {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.copyright {
    text-align: center;
}

em {
    background-color: yellow;
}

.highlight {
    background-color: transparent;
    font-style: normal;
}
