{% extends "layout.html" %}
{% block title %}{{ super() }} | INSERT {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>
            {% if trial['highlight'] | length > 0 %}
                {% if trial['highlight']['official_title'] %}
                    {{ trial['highlight']['official_title'][0] | safe }}
                {% else %}
                    {{ trial['_source']['official_title'] }}
                {% endif %}
            {% else %}
                {{ trial['_source']['official_title'] }}
            {% endif %}
        </h1>
        <p>{{ trial['_source']['date'] }}</p>
        <p><a href="{{ trial['_source']['link'] }}">Link to the current ClinicalTrials.gov record</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="{{ alert }}">This clinical trial is {{ trial['_source']['overall_status'] }}</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-justified" data-tabs="tabs">
                <li class="presentation active"><a href="#description" data-toggle="tab">Description</a></li>
                <li class="presentation"><a href="#eligibility" data-toggle="tab">Eligibility</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="description">
                    {% if trial['_source']['detailed_description'] != "No detailed description provided" %}
                        {% if trial['highlight'] | length > 0 %}
                            {% if trial['highlight']['detailed_description'] %}
                                {{ trial['highlight']['detailed_description'][0] | safe }}
                            {% endif %}
                        {% else %}
                            {{ trial['_source']['detailed_description'] | safe}}
                        {% endif %}
                    {% else %}
                        {{ trial['_source']['brief_summary'] | safe }}
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="eligibility">
                    <br />
                    <p><strong>Gender:</strong> {{ trial['_source']['gender'] }}</p>
                    <p><strong>Minimum age:</strong> {{ trial['_source']['minimum_age'] }}</p>
                    <p><strong>Maximum age:</strong> {{ trial['_source']['maximum_age'] }}</p>
                    <p><strong>Accepts healthy volunteers: </strong>{{ trial['_source']['healthy_volunteers'] }}</p>
                    <p><strong>Eligibility Description:</strong>
                    {% if trial['_source']['eligibility'] != "No detailed description provided" %}
                        {% if trial['highlight'] | length > 0 %}
                            {% if trial['highlight']['eligibility'] %}
                                {{ trial['highlight']['eligibility'][0] | safe }}
                            {% else %}
                                {{ trial['_source']['eligibility'] |safe }}
                            {% endif %}
                        {% else %}
                            {{ trial['_source']['eligibility'] |safe }}
                        {% endif %}
                    {% endif %}
                    </p>
                </div>
              <!--<div class="tab-pane" id="settings">...</div>-->
            </div>
        </div><!-- end tabbable -->
    </div>
</div>
{% endblock %}
